<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="" style="height: 100% ;display:block;margin:auto;">
      <img class="shape shape-style-1 alpha-4" src="../../assets/img/personal/fondo-pantalla.jpg" alt="">
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="{{url_imagen_perfil}}" class="rounded-circle">
                </a>
              </div>
            </div>
            <br><br><br><br>
          </div>
          <div class="text-center mt-5">
            <h2><b>Bolívar Cárdenas
              <span class="font-weight-light">, {{anio}}</span>
            </b>
            </h2>
            <div class="h4 ">
              <i class="ni location_pin mr-2"></i>
              <b>Computer Systems Engineer</b>
            </div>
          </div>
          <div class=" py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>I am simply a FullStack developer but also a Computer Systems Engineer, graduated from Milagro State
                  University. I learned a lot about software development and still am.</p>
                <p>I am passionate about learning new technologies. Some of my qualities are: Actodidact, Adaptability,
                  Communication</p>
              </div>
            </div>
            <div class="row justify-content-between align-items-center ">
              <div class="col-lg-12">
                <h3 class="h4 text-success font-weight-bold">My Skills</h3>
                <div *ngFor="let data of conocimientos" class="">
                  <div class="progress-info">
                    <div class="progress-label">
                      <img style="height: 30px;" [src]="data.imagen"  alt="" class="rounded-circle">
                      <span>{{data.descripcion}}</span>
                    </div>
                    <div class="progress-percentage">
                      <span>{{data.valor}}%</span>
                    </div>
                  </div>
                  <ngb-progressbar type="{{data.tipo}}" value="{{data.valor}}"></ngb-progressbar>
                </div>
              </div>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>